header
	nav.navbar.navbar-expand-md.navbar-light
		div.container
			a(class="navbar-brand", href="/")
				img(src="/assets/img/logo.png", style="width:150px;")
			button(
				class="navbar-toggler",
				data-toggle="collapse"
				data-target="#navbarSupportedContent",
				aria-controls="navbarSupportedContent",
				aria-expanded="false",
				aria-label="Toggle navigation"
			)

			div.collapse.navbar-collapse#navbarSupportedContent
				ul.navbar-nav.ml-md-auto.v-menu
					li.nav-item.p-2.active
						a(class="nav-link", href="javascript:void(0)") Home
					li.nav-item.p-2
						a(class="nav-link", href="javascript:void(0)") About
					li.nav-item.p-2
						a(class="nav-link", href="javascript:void(0)") Contact
					li.nav-item.p-2
						a(class="nav-link", href="javascript:void(0)") Portfolio
					li.nav-item.p-2
						a(class="nav-link", id="v-login-btn", href="javascript:void(0)") Blog