extends layouts/layout_app
block styles
	link(rel="stylesheet", type="text/css", href="/assets/css/my-profile.css")
	link(rel="stylesheet", type="text/css", href="/assets/css/skillbar.css")
	style.
		body {
			overflow-x:hidden;
		}
		.v-hero-2 {
			background:#37a000;
			background-size:cover;
			height:200px;
			border-radius: 0;
		}
		.twPc-bg {
		    background-color:#005456;
		    background-size: 100% auto;
		    height: 200px;
		    width: 100%;
		    cursor:pointer;
		    display: block;
		}
block content
	section
		div.row
			div.col-md-12.col-lg-12
				div.twPc-div
					a.twPc-bg
					div
						div.twPc-button
							a(
								href="https://wa.me/6283823927728?text=Hello%2C%20Qudrat",
								class="btn btn-success btn-sm",
								target="_blank"
							)
								i.fab.fa-whatsapp
							a(
								href="https://www.linkedin.com/in/qudrat-nurfajar-yasin-sutisna-s-kom-170183179",
								class="btn btn-info btn-sm",
								target="_blank"
							)
								i.fab.fa-linkedin
							a(
								href="https://www.facebook.com/fajar.antariksa",
								class="btn btn-primary btn-sm",
								target="_blank"
							)
								i.fab.fa-facebook
							a(
								href="https://www.instagram.com/qudratnurfajarys",
								class="btn btn-danger btn-sm",
								target="_blank"
							)
								i.fab.fa-instagram
						a(title="", href="javascript:void(0)", class="twPc-avatarLink")
							img(
								class="twPc-avatarImg",
								title='' + _dataToJson.profileSettings.profile.profile.name + '',
								alt='' + _dataToJson.profileSettings.profile.profile.name + '',
								src='' + _dataToJson.profileSettings.profile.profile.portrait.bigPortrait +''
							)

						div.twPc-divUser
							div.twPc-divName
								div.v-pb-10
								a(href="javascript:void(0)", style="text-decoration:none;font-size:1.1em;")
									b #{_dataToJson.profileSettings.profile.profile.name} <i class="fa fa-xs fa-check-circle" aria-hidden="true" style="color:#14bff4;"></i>
							div.col-lg-12
								p.text-muted
									small <i class="fa fa-map-marker"></i> #{_dataToJson.profileSettings.profile.profile.location.city} , #{_dataToJson.profileSettings.profile.profile.location.country}
								p.text-muted.v-justify-text
									h5 #{_dataToJson.profileSettings.profile.profile.title}
									p.v-justify-text.v-black-color-text #{_dataToJson.profileSettings.profile.profile.description }
							div.v-pb-5
						div.twPc-divStats.text-muted
							ul.twPc-Arrange
								li.twPc-ArrangeSizeFit
									center
										span.twPc-StatValue.v-black-color-text $#{ _dataToJson.profileSettings.profile.stats.hourlyRate.amount }
										span.twPc-StatLabel.twPc-block.v-black-color-text
											small Hourly Rate
								- var earning = _dataToJson.profileSettings.profile.stats.totalEarnings;
								if earning
									li.twPc-ArrangeSizeFit
										center
											span.twPc-StatLabel.twPc-block.v-black-color-text #{earning}
												span.twPc-StatLabel.twPc-block.v-black-color-text
													small Total Earned
								li.twPc-ArrangeSizeFit
									center
										span.twPc-StatValue.v-black-color-text #{ _dataToJson.profileSettings.profile.stats.totalJobsWorked }
										span.twPc-StatLabel.twPc-block.v-black-color-text
											small Jobs
								li.twPc-ArrangeSizeFit
									center
										span.twPc-StatValue.v-black-color-text #{ Math.round(_dataToJson.profileSettings.profile.stats.totalHours) }
										span.twPc-StatLabel.twPc-block.v-black-color-text
											small Hours worked
		div.v-pb-20

	section
		div.container-fluid
			div.row

				div.col-xs-12.col-sm-12.col-md-9.col-lg-9
					div.row

						div.col-xs-12.col-sm-12.col-md-12.col-lg-12
							div.card
								div.card-header
									h5.card-title Work history and feedback
								div.card-body
									each val, n in _assignments
										div.row

											div.col-xs-12.col-lg-12
												div.row

													div.col-xs-6.col-sm-6.col-md-10.col-lg-10
														h5 #{ _assignments[n].title }
														p 
															- var ratingScore = 0;
															while ratingScore < _assignments[n].feedback.score
																i.text-success.fa.fa-star
																- ratingScore++;
															-
																var _date = new Date(_assignments[n].startedOn);
																var monthInArrayWithName = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];

															font.text-muted &nbsp;&nbsp; #{ _assignments[n].feedback.score }.00 &nbsp; #{ monthInArrayWithName[_date.getMonth()] } #{_date.getFullYear()}
														p.v-black-color-text #{ _assignments[n].feedback.comment }

													div.col-xs-6.col-sm-6.col-md-2.col-lg-2
														div(style="float:right;")
															if _assignments[n].totalCharges != undefined && _assignments[n].hourlyRate != undefined
																p(style="float:right;",class="v-black-color-text")
																	b.v-black-color-text $#{ _assignments[n].totalCharges.amount}
																br
																p(style="float:right;", class="v-black-color-text").
																	$#{ _assignments[n].hourlyRate.amount} / hr
															else
																p(style="float:right;", class="v-black-color-text") Private
															if _assignments[n].totalHours != 0
																p.v-black-color-text.
																	#{ _assignments[n].totalHours} hours
															else
																p.v-black-color-text Fixed Price

													if _assignments.length - 1 != n
														div.col-xs-12.col-sm-12.col-md-12.col-lg-12
															hr

						div.col-xs-12.col-sm-12.col-md-12.col-lg-12
							div.card
								div.card-header
									h5.card-title My Location
								div.card-body
									<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.46433322897!2d108.22117091382917!3d-6.834797795060423!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6f2f4504315cc3%3A0x3ee9132d8661cbea!2sFajarPunya%5BCom%5D%20Home%20Development!5e0!3m2!1sid!2sid!4v1568302468767!5m2!1sid!2sid" height="440" frameborder="0" style="border:0;width:100%;" allowfullscreen=""></iframe>

				div.col-xs-12.col-sm-12.col-md-3.col-lg-3
					div.row

						div.col-xs-12.col-sm-12.col-md-12.col-lg-12
							div.card
								div.card-header
									h5.card-title Availability
								div.card-body
									center
										p.v-black-color-text.
											#{_dataToJson.profileSettings.profile.availability.capacity.name }
						div.col-xs-12.col-sm-12.col-md-12.col-lg-12
							div.card
								div.card-header
									h5.card-title Profile Link
								div.card-body
									center
										p
											a(href="https://www.upwork.com/fl/qudratnurfajarys", class="btn btn-success", target="_blank") <i class="fa fa-link"></i> Read More

						div.col-xs-12.col-sm-12.col-md-12.col-lg-12
							div.card
								div.card-header
									h5.card-title Skills
								div.card-body
									- var skills = _dataToJson.profileSettings.profile.profile.skills;
									each val, n in skills
										<span class="badge badge-primary">#{skills[n].name}</span>&nbsp;