extends ../../layouts/layout_adminpanel

block styles
	link(href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css", rel="stylesheet")

block breadcrumb
	ol.breadcrumb
		li.breadcrumb-item
			a(href="/dashboard") Dashboard
		li.breadcrumb-item
			a(href="/dashboard/articles") Articles
		li.breadcrumb-item.active.
			Create

block content
	div.row
		div.col-lg-8
			div.card
				div.card-body
					form.createForm

						div.form-group.row
							label(for="title", class="col-sm-2 col-form-label v-label") Title <em class="v-red-color-text">*</em>
							div.col-sm-10
								input(
									type="text",
									class="form-control v-input",
									id="title",
									name="title",
									placeholder="Write your title ...",
									required="required",
									autocomplete="off"
								)

						div.form-group.row
							label(for="content", class="col-sm-2 col-form-label v-label") Content <em class="v-red-color-text">*</em>
							div.col-sm-10
								textarea(
									class="form-control v-input v-no-resize",
									id="content",
									name="content",
									required="required"
								)

						div.form-group.row
							label(for="category", class="col-sm-2 col-form-label v-label") Category <em class="v-red-color-text">*</em>
							div.col-sm-10
								select(
									class="form-control",
									id="category",
									name="categoryId",
									required="required"
								)
									option - Select Category -

						div.form-group.row
							label(for="image", class="col-sm-2 col-form-label v-label") Image 
							div.col-sm-10
								input(
									type="file",
									id="image",
									name="image",
									required="required"
								)

				div.card-footer
					button.btn.btn-primary <i class="fa fa-save"></i> Save

		div.col-lg-4
			div.card
				div.card-body

block scripts
	script(src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js")
	script.
		jQuery(document).ready(function() {
			jQuery('#content').summernote({
				placeholder: 'Write your content here ...',
				height: 150,
			});
		});